Repository vstconsulting/vstutils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code_style, py36-django22-install, py36-django22-coverage, pages

.gitlab-ci.yml:

# set to local images because too long execution
image: onegreyonewhite/tox:centos6


variables:
  GET_SOURCES_ATTEMPTS: 3
  ARTIFACT_DOWNLOAD_ATTEMPTS: 3
  RESTORE_CACHE_ATTEMPTS: 3
  DJANGO_LOG_LEVEL: 'CRITICAL'
  TOX_ARGS: "--workdir /cache/.tox_vstutils_${CI_BUILD_REF_NAME}"
  CC: "ccache gcc"

stages:
  - code_standarts
  - test
  - release


.branch_tests_template: &branch_tests
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: "flake,pylint,py27-django-install,py35-django-install,py36-django-install"
  before_script:
    - if [ "${CI_BUILD_REF_NAME}" != "master" -a "${CI_BUILD_REF_NAME}" != "developer" ]; then export TOX_ARGS="--workdir /tmp/.tox_polemarchplus_${CI_BUILD_REF_NAME}"; fi
  script:
   - tox -e $TOX_ENVS $TOX_ARGS
  except:
    refs:
    - tags
  only:
    refs:
      - master
      - merge_requests
    changes:
      - vstutils/*.{py,pyx}
      - vstutils/api/**
      - vstutils/gui/*
      - vstutils/templatetags/*
      - test_src/**/*
      - .coveragerc
      - .pep8
      - .pylintrc
      - .gitlab-ci.yml
      - requirements*
      - setup.{cfg,py}
      - MANIFEST.in
      - tox.ini


code_style:
  <<: *branch_tests
  stage: code_standarts
  variables:
    TOX_ENVS: "flake,pylint"
  allow_failure: true

py36-django22-install:
  <<: *branch_tests
  image: onegreyonewhite/tox:ubuntu
  variables:
    TOX_ENVS: "$CI_BUILD_NAME"

py36-django22-coverage:
  <<: *branch_tests
  image: onegreyonewhite/tox:ubuntu
  variables:
    TOX_ENVS: "$CI_BUILD_NAME"


pages:
  <<: *branch_tests
  stage: release
  variables:
    TOX_ENVS: "builddoc"
  after_script:
    - mv doc/_build/html public
  artifacts:
    paths:
    - public
  only:
    refs:
      - master
    changes:
      - doc/*
      - vstutils/doc_themes/*

release:
  stage: release
  image: onegreyonewhite/tox:tox
  only:
    refs:
      - master
    variables:
      - $GIT_ACCESS_USER
      - $GIT_ACCESS_PASSWORD
  before_script:
    - url_host=`echo "${CI_REPOSITORY_URL}" | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git config user.name "${GITLAB_USER_NAME}"
    - git config user.email "${GITLAB_USER_EMAIL}"
    - git remote set-url origin "https://${GIT_ACCESS_USER}:${GIT_ACCESS_PASSWORD}@${url_host}"
  script:
    - bash autorelease.sh

.release_pypi_template: &release_pypi
  stage: release
  only:
    refs:
      - tags
    variables:
      - $PYPI_UPLOAD_PASSWORD
      - $PYPI_UPLOAD_NAME
  script:
   - tox -c tox_build.ini -e ${CI_BUILD_NAME},auditwheel
   - twine upload -u ${PYPI_UPLOAD_NAME} -p ${PYPI_UPLOAD_PASSWORD} $(find dist/*.{tar.gz,whl})
    # - twine upload -u ${PYPI_UPLOAD_NAME} -p ${PYPI_UPLOAD_PASSWORD} dist/*.tar.gz dist/*.whl
  allow_failure: true

py35-build:
  <<: *release_pypi

py35-wheel:
  <<: *release_pypi

py36-wheel:
  <<: *release_pypi

py37-wheel:
  <<: *release_pypi

Fix bug in ConfigParserC by "dirty crutch" + fix `dockerrun` command
  test_src/test_proj/settings.ini
  test_src/test_proj/tests.py
  vstutils/__init__.py
  vstutils/config.pyx
  vstutils/management/commands/dockerrun.py
Due: code_style, py36-django22-install, py36-django22-coverage

Fix dockerrun for non-root users
  vstutils/__init__.py
  vstutils/management/commands/dockerrun.py
Due: code_style, py36-django22-install, py36-django22-coverage

Add 'email' field to guiFields.
  vstutils/static/js/guiFields.js
  vstutils/static/js/guiFieldsMixins.js
Due: none

Run `code_standarts` checks every time.
  .gitlab-ci.yml
Due: code_style, py36-django22-install, py36-django22-coverage

Fix name of class `ModelViewSet` and add links.
  doc/backend.rst
  setup.py
  vstutils/api/base.py
Due: code_style, py36-django22-install, py36-django22-coverage, pages

Add redirect from admin:login and admin:logout views to app:login and app:logout views.
  test_src/test_proj/tests.py
  vstutils/__init__.py
  vstutils/urls.py
Due: code_style, py36-django22-install, py36-django22-coverage

Refactoring `config.pyx` and allow add clean C-Extentions with include.
  MANIFEST.in
  include/_config.h
  setup.py
  vstutils/config.pyx
  vstutils/settings.py
  vstutils/urls.py
Due: code_style, py36-django22-install, py36-django22-coverage

Improve tests
  test_src/test_proj/test_conf.ini
  test_src/test_proj/test_conf2.ini
  test_src/test_proj/test_conf3.ini
  test_src/test_proj/test_conf_err.ini
  test_src/test_proj/test_conf_err2.ini
  test_src/test_proj/tests.py
  vstutils/__init__.py
  vstutils/config.pyx
Due: code_style, py36-django22-install, py36-django22-coverage

Change config class from CofigParser to ConfigParserC into dockerrun Current speed - 0,65
  test_src/test_proj/tests.py
  vstutils/__init__.py
  vstutils/config.pyx
  vstutils/management/commands/dockerrun.py
Due: code_style, py36-django22-install, py36-django22-coverage

Update views design (decrease padding values).
  vstutils/__init__.py
  vstutils/gui/templates/gui/base.html
  vstutils/static/css/gui.css
  vstutils/static/js/guiFieldsMixins.js
  vstutils/static/js/guiItems.js
  vstutils/static/js/guiRouter.js
  vstutils/static/templates/guiFields.html
  vstutils/static/templates/guiItems.html
Due: code_style, py36-django22-install, py36-django22-coverage

Add page reloading after user changed his password.
  vstutils/__init__.py
  vstutils/static/js/guiRouter.js
  vstutils/static/js/guiUsers.js
Due: code_style, py36-django22-install, py36-django22-coverage

Resolve type error in ConfigParserC
  vstutils/__init__.py
  vstutils/config.pyx
Due: code_style, py36-django22-install, py36-django22-coverage

Fix ConfigParserC.parse_text for empty strings
  .gitlab-ci.yml
  vstutils/__init__.py
  vstutils/config.pyx
Due: code_style, py36-django22-install, py36-django22-coverage

Add celery timezone variable
  vstutils/__init__.py
  vstutils/settings.py
Due: code_style, py36-django22-install, py36-django22-coverage

Add `venv` to ignore, always rebuild pages, add `contrib` env in tox
  .gitignore
  .gitlab-ci.yml
  setup.cfg
  tox.ini
Due: code_style, py36-django22-install, py36-django22-coverage

Reduce package size and remove some useless six imports.
  setup.py
  vstutils/__init__.py
  vstutils/api/fields.py
  vstutils/api/responses.py
  vstutils/api/serializers.py
Due: code_style, py36-django22-install, py36-django22-coverage

Make setting of prefetch_value more precise (fix bug with prefetch for child object with the same id as parent one has).
  doc/front-end.rst
  vstutils/__init__.py
  vstutils/static/js/guiQuerySet.js
Due: code_style, py36-django22-install, py36-django22-coverage, pages

Add support ssl and tls, new functional for `URLHandler.getobject` send kwargs for view, upgrade patch
  vstutils/__init__.py
  vstutils/settings.py
  vstutils/utils.py
Due: code_style, py36-django22-install, py36-django22-coverage

Add 'getPrefetchValue()' and 'getPrefetchFilterName()' methods to guiFields.fk.
  vstutils/__init__.py
  vstutils/static/js/guiFields.js
  vstutils/static/js/guiFieldsMixins.js
  vstutils/static/js/guiQuerySet.js
Due: code_style, py36-django22-install, py36-django22-coverage

Refactoring of guiField.fk field and it's mixins.
  vstutils/__init__.py
  vstutils/static/js/guiFields.js
  vstutils/static/js/guiFieldsMixins.js
  vstutils/static/js/guiQuerySet.js
  vstutils/static/templates/guiFields.html
Due: code_style, py36-django22-install, py36-django22-coverage

Fix crontab field.
  vstutils/static/js/guiFieldsMixins.js
Due: none

Resolve error with execute tasks
  vstutils/__init__.py
  vstutils/utils.py
Due: code_style, py36-django22-install, py36-django22-coverage

Remove six package from dependencies as legacy
  requirements.txt
  test_src/test_proj/tests.py
  vstutils/__init__.py
  vstutils/api/base.py
  vstutils/api/views.py
  vstutils/environment.py
  vstutils/ldap_utils.py
  vstutils/management/commands/web.py
  vstutils/tests.py
  vstutils/utils.py
Due: code_style, py36-django22-install, py36-django22-coverage

Add new settings vars from DJANGO_SETTINGS
  test_src/test_proj/test_conf.ini
  test_src/test_proj/tests.py
  vstutils/config.pyx
  vstutils/settings.py
Due: code_style, py36-django22-install, py36-django22-coverage

Fix bug with plenty of favicons requests and add caching of OpenAPI schema by JS in indexedDB.
  vstutils/__init__.py
  vstutils/gui/templates/gui/inline_app_loader.html
  vstutils/static/js/guiApi.js
  vstutils/static/js/guiApp.js
  vstutils/static/js/guiAppForApi.js
Due: code_style, py36-django22-install, py36-django22-coverage

Fix BytesSizeType in `Add new settings vars from DJANGO_SETTINGS`
  test_src/test_proj/test_conf.ini
  test_src/test_proj/tests.py
  vstutils/config.pyx
  vstutils/settings.py
Due: code_style, py36-django22-install, py36-django22-coverage

Update `dockerrun` command with using new settings
  vstutils/management/commands/dockerrun.py
  vstutils/settings.py
Due: code_style, py36-django22-install, py36-django22-coverage

Fix documentation build
  doc/conf.py
Due: pages

Refactoring codebase of API.
  tox.ini
  vstutils/api/responses.py
  vstutils/api/routers.py
  vstutils/api/views.py
  vstutils/settings.py
  vstutils/urls.py
Due: code_style, py36-django22-install, py36-django22-coverage

Add 'getPathTemplateForRouter()' method to View class. Add workbox-prod files. Add signals about routes creation. Refactor guiRouter.js.
  doc/redefine-front-end.rst
  vstutils/__init__.py
  vstutils/gui/templates/gui/service-worker.js
  vstutils/static/css/gui.css
  vstutils/static/js/guiRouter.js
  vstutils/static/js/guiViews.js
  vstutils/static/js/libs/workbox/workbox-core.dev.js
  vstutils/static/js/libs/workbox/workbox-core.prod.js
  vstutils/static/js/libs/workbox/workbox-precaching.dev.js
  vstutils/static/js/libs/workbox/workbox-precaching.prod.js
  vstutils/static/js/libs/workbox/workbox-routing.dev.js
  vstutils/static/js/libs/workbox/workbox-routing.prod.js
  vstutils/static/js/libs/workbox/workbox-strategies.dev.js
  vstutils/static/js/libs/workbox/workbox-strategies.prod.js
Due: code_style, py36-django22-install, py36-django22-coverage, pages

Fix `warning:comparison between signed and unsigned integer expressions`
  include/_config.h
Due: none

Update drf-yasg version to 1.17.0
  requirements-coreapi.txt
  vstutils/__init__.py
Due: code_style, py36-django22-install, py36-django22-coverage

Fix bug with setting of default value in guiFields.choices.
  vstutils/static/js/guiFieldsMixins.js
Due: none

Fix bulk requests session use.
  vstutils/api/views.py
Due: code_style, py36-django22-install, py36-django22-coverage

Version up to 2.11.2
  vstutils/__init__.py
Due: code_style, py36-django22-install, py36-django22-coverage

Extended support for api multiversions.
  test_src/test_proj/settings.py
  test_src/test_proj/tests.py
  vstutils/__init__.py
  vstutils/api/routers.py
  vstutils/api/schema.py
Due: code_style, py36-django22-install, py36-django22-coverage

Fix flake for schema.py
  vstutils/api/schema.py
Due: code_style, py36-django22-install, py36-django22-coverage

Split schema.py to package for faster import in projects
  setup.py
  tox.ini
  vstutils/api/schema.py
  vstutils/api/schema/__init__.py
  vstutils/api/schema/generators.py
  vstutils/api/schema/info.py
  vstutils/api/schema/inspectors.py
  vstutils/api/schema/schema.py
  vstutils/settings.py
Due: code_style, py36-django22-install, py36-django22-coverage

Increased code coverage and added api-routers stubs.
  test_src/test_proj/views.py
  vstutils/api/routers.pyi
  vstutils/api/schema/generators.py
  vstutils/api/schema/inspectors.py
  vstutils/api/schema/schema.py
Due: code_style, py36-django22-install, py36-django22-coverage

Added stubs for api views and custom_models.
  MANIFEST.in
  setup.py
  vstutils/api/views.pyi
  vstutils/custom_model.py
  vstutils/custom_model.pyi
Due: code_style, py36-django22-install, py36-django22-coverage
