Repository vstconsulting/vstutils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install, pages

.gitlab-ci.yml:

# set to local images because too long execution
image: onegreyonewhite/tox:centos6


variables:
  GET_SOURCES_ATTEMPTS: 3
  ARTIFACT_DOWNLOAD_ATTEMPTS: 3
  RESTORE_CACHE_ATTEMPTS: 3
  DJANGO_LOG_LEVEL: 'CRITICAL'
  TOX_ARGS: "--workdir /cache/.tox_vstutils_${CI_BUILD_REF_NAME}"
  CC: "ccache gcc"

stages:
  - code_standarts
  - test
  - release


.branch_tests_template: &branch_tests
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: "flake,pylint,py27-django-install,py35-django-install,py36-django-install"
  script:
   - tox -e $TOX_ENVS $TOX_ARGS
  except:
    refs:
    - tags
  only:
    changes:
      - vstutils/*.{py,pyx}
      - vstutils/api/**
      - vstutils/gui/*
      - vstutils/templatetags/*
      - test_src/**/*
      - .coveragerc
      - .pep8
      - .pylintrc
      - .gitlab-ci.yml
      - requirements*
      - setup.{cfg,py}
      - MANIFEST.in
      - tox.ini
  retry: 2


code_style:
  <<: *branch_tests
  stage: code_standarts
  variables:
    TOX_ENVS: "flake,pylint"
  allow_failure: true

py27-django111-coverage:
  <<: *branch_tests
  variables:
    TOX_ENVS: "$CI_BUILD_NAME"

py27-django111-install:
  <<: *branch_tests
  variables:
    TOX_ENVS: "$CI_BUILD_NAME"

py36-django111-install:
  <<: *branch_tests
  variables:
    TOX_ENVS: "$CI_BUILD_NAME"


pages:
  <<: *branch_tests
  stage: release
  variables:
    TOX_ENVS: "builddoc"
  after_script:
    - mv doc/_build/html public
  artifacts:
    paths:
    - public
  only:
    refs:
      - master
    changes:
      - doc/*
      - vstutils/doc_themes/*

release:
  stage: release
  image: onegreyonewhite/tox:tox
  only:
    refs:
      - master
    variables:
      - $GIT_ACCESS_USER
      - $GIT_ACCESS_PASSWORD
  before_script:
    - url_host=`git remote get-url origin | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git config --global user.name "${GITLAB_USER_NAME}"
    - git config --global user.email "${GITLAB_USER_EMAIL}"
    - git remote set-url origin "https://$GIT_ACCESS_USER:$GIT_ACCESS_PASSWORD@${url_host}"
  script:
    - bash autorelease.sh

release_pypi:
  stage: release
  only:
   - tags
  script:
   - tox -e build
   - twine upload -u ${PYPI_UPLOAD_NAME} -p ${PYPI_UPLOAD_PASSWORD} dist/*.tar.gz dist/*.whl
  allow_failure: true

Add caching of Django templates.
  vstutils/gui/context.py
  vstutils/gui/templates/base.html
  vstutils/gui/templates/gui/base.html
  vstutils/gui/templates/gui/inline_app_loader.html
  vstutils/gui/templates/gui/manifest.json
  vstutils/gui/templates/gui/service-worker.js
  vstutils/gui/templates/rest_framework/base.html
  vstutils/settings.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix tests.
  vstutils/gui/context.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix tests and update version.
  test_src/test_proj/tests.py
  vstutils/__init__.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix tests[3].
  test_src/test_proj/settings.py
  test_src/test_proj/tests.py
  vstutils/templatetags/request_static.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

FIX: Exclude service-worker template from js optimization
  setup.py
  vstutils/__init__.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Update compilation block in `setup.py`
  setup.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Update new project templates for setup.{py,cfg}
  vstutils/templates/newproject/setup.cfg.template
  vstutils/templates/newproject/setup.py.template
Due: none

Update new project templates.
  vstutils/management/commands/newproject.py
  vstutils/templates/newproject/.coveragerc.template
  vstutils/templates/newproject/.pep8.template
  vstutils/templates/newproject/README.rst.template
  vstutils/templates/newproject/project/__init__.py.template
  vstutils/templates/newproject/project/settings.ini.template
  vstutils/templates/newproject/project/settings.py.template
  vstutils/templates/newproject/project/web.ini.template
  vstutils/templates/newproject/project/wsgi.py.template
  vstutils/templates/newproject/requirements-test.txt.template
  vstutils/templates/newproject/test.py.template
  vstutils/templates/newproject/tox.ini.template
Due: none

Add class, that stores info about test execution.
  doc/Functions.rst
  doc/Schema.rst
  doc/Signals.rst
  doc/front-end.rst
  doc/functions.rst
  doc/img/app_example_created_task_page.png
  doc/img/app_example_home_page.png
  doc/img/app_example_login_page.png
  doc/img/app_example_new_stage1_page.png
  doc/img/app_example_new_stage2_page.png
  doc/img/app_example_new_task_page.png
  doc/img/app_example_stage_empty_list_page.png
  doc/img/app_example_stage_list_page.png
  doc/img/app_example_task_empty_list_page.png
  doc/index.rst
  doc/quickstart.rst
  doc/redefine-front-end.rst
  vstutils/doc_themes/vst-sphinx-theme/static/pygments.css
  vstutils/doc_themes/vst-sphinx-theme/static/vst-style.css
  vstutils/gui/templates/gui/base.html
  vstutils/static/css/gui.css
  vstutils/static/img/logo/favicon.ico
  vstutils/static/js/common-utils.js
  vstutils/static/js/guiApi.js
  vstutils/static/js/tests/qUnitTest.js
  vstutils/templates/newproject/tox.ini.template
Due: pages

New vstutils version with documentation.
  vstutils/__init__.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Update readme
  README.rst
Due: none

Add documentation for backend API.
  .gitignore
  doc/backend.rst
  doc/conf.py
  doc/index.rst
  vstutils/api/base.py
  vstutils/api/decorators.py
  vstutils/api/fields.py
  vstutils/api/serializers.py
  vstutils/custom_model.py
  vstutils/models.py
  vstutils/utils.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install, pages

Fix support for readthedocs.org
  doc/conf.py
  vstutils/utils.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install, pages

Update readme (migrate docs to Gitlab Pages).
  README.rst
Due: none

Optimize manifest class
  vstutils/gui/pwa_manifest.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix bug with dynamic field.
  vstutils/static/js/guiFields.js
  vstutils/static/js/guiFieldsMixins.js
Due: none

Release 2.3.3 with change dynamic field parent fix
  vstutils/__init__.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Add documentation about Middleware classes and change `Logout.next_page`
  doc/backend.rst
  vstutils/gui/views.py
  vstutils/middleware.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install, pages

Update libs and release to 2.3.4
  requirements-coreapi.txt
  requirements-ldap.txt
  requirements-rpc.txt
  requirements-test.txt
  requirements.txt
  vstutils/__init__.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix build in tags
  .gitlab-ci.yml
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix for `drf-yasg==1.16.1`
  vstutils/__init__.py
  vstutils/api/schema.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

add useless files to gitignore
  .gitignore
Due: none

Add loading of workbox-sw.js from local static store.
  vstutils/__init__.py
  vstutils/gui/context.py
  vstutils/gui/templates/gui/service-worker.js
  vstutils/static/js/libs/workbox/workbox-core.dev.js
  vstutils/static/js/libs/workbox/workbox-precaching.dev.js
  vstutils/static/js/libs/workbox/workbox-routing.dev.js
  vstutils/static/js/libs/workbox/workbox-strategies.dev.js
  vstutils/static/js/libs/workbox/workbox-sw.js
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix problem with user creation in base tests
  vstutils/__init__.py
  vstutils/tests.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Add `user_as` decorator and move `system` viewset to test project.
  test_src/test_proj/settings.py
  test_src/test_proj/tests.py
  vstutils/settings.py
  vstutils/tests.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix problem with changing default user model
  vstutils/__init__.py
  vstutils/api/filters.py
  vstutils/api/serializers.py
  vstutils/templatetags/vst_gravatar.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Compress *.js and *.css via gzip on build and add files for serving.
  setup.py
  vstutils/__init__.py
  vstutils/management/commands/web.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix profile url errors, simplify `edit` action url handler
  vstutils/__init__.py
  vstutils/static/js/guiRouter.js
  vstutils/static/js/guiUsers.js
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Remove old-style class declarations, small refactoring and using pathlib
  requirements.txt
  setup.py
  vstutils/__init__.py
  vstutils/api/decorators.py
  vstutils/api/filter_backends.py
  vstutils/auth.py
  vstutils/gui/pwa_manifest.py
  vstutils/ldap_utils.py
  vstutils/tests.py
  vstutils/utils.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Resolve conflict guiField.date and django DateField
  vstutils/static/js/guiFields.js
Due: none

Refactoring for use python>3.5
  vstutils/__init__.py
  vstutils/api/base.py
  vstutils/api/decorators.py
  vstutils/api/doc_generator.py
  vstutils/api/fields.py
  vstutils/api/permissions.py
  vstutils/api/routers.py
  vstutils/api/schema.py
  vstutils/api/serializers.py
  vstutils/api/views.py
  vstutils/celery_beat_scheduler.py
  vstutils/custom_model.py
  vstutils/exceptions.py
  vstutils/gui/pwa_manifest.py
  vstutils/gui/views.py
  vstutils/management/commands/_base.py
  vstutils/management/commands/newproject.py
  vstutils/management/commands/web.py
  vstutils/middleware.py
  vstutils/models.py
  vstutils/settings.py
  vstutils/templatetags/request_static.py
  vstutils/utils.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Update sphinx version.
  requirements-doc.txt
  vstutils/__init__.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Add view for health check backend with allowing override it.
  .pylintrc
  test_src/test_proj/tests.py
  vstutils/api/health.py
  vstutils/api/views.py
  vstutils/settings.py
  vstutils/tests.py
  vstutils/urls.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Create views for password reset, in progress making html template for password reset
  test_src/test_proj/tests.py
  vstutils/gui/templates/auth/base.html
  vstutils/gui/templates/registration/base.html
  vstutils/gui/templates/registration/password_reset_complete.html
  vstutils/gui/templates/registration/password_reset_confirm.html
  vstutils/gui/templates/registration/password_reset_done.html
  vstutils/gui/templates/registration/password_reset_form.html
  vstutils/settings.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Add multiselect field to openapi.
  test_src/test_proj/views.py
  vstutils/api/fields.py
  vstutils/api/schema.py
  vstutils/static/js/guiFields.js
  vstutils/static/js/guiFieldsMixins.js
  vstutils/static/templates/guiFields.html
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Release UP to 2.5.0
  vstutils/__init__.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Parallel build and upload on release
  .gitlab-ci.yml
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Refactoring decorators
  vstutils/__init__.py
  vstutils/api/decorators.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix twine upload
  .gitlab-ci.yml
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Refactoring File tool
  vstutils/tools.pyx
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install
